flask
flask_socketIO
twilio
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
six==1.9.0
Werkzeug==0.10.4
# ----------------------
# Production Server
# ----------------------
eventlet==0.17.4
greenlet==0.4.9
gunicorn==18.0.0
# python-engineio==0.8.0
# python-socketio==0.7.0

# blinker==1.4
# celery==3.1.19
